        * {
            padding: 0px;
            margin: 0px;
        }
        
        body {
            font-family: 'Merriweather Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
        }
        
        .manu-card {
            text-align: center;
            width: 100%;
            background-color: rgb(212, 212, 212);
        }
        
        .manu-card ul li {
            list-style-type: none;
            display: inline-block;
            padding: 30px 50px;
        }
        
        .manu-card ul li a {
            text-decoration: none;
            color: black;
        }
        
        .manu-card ul li a:hover {
            text-decoration: underline;
            transition: .5s;
            cursor: pointer;
        }
        
        .flexible-area {
            display: flex;
            margin-bottom: 100px;
            color: gray;
        }
        
        .half-width {
            width: 50%;
            padding: 100px;
            margin-top: 100px;
            text-align: justify;
        }
        
        .half-width img {
            width: 110%;
        }
        
        .half-width h1 {
            font-size: 80px;
        }
        
        .half-width p {
            font-size: 20px;
        }
        
        span {
            color: orange;
        }
        
        .link-button {
            text-decoration: none;
            background-image: linear-gradient(#c02425, #f0cb35);
            padding: 20px 50px;
            color: white;
            border-radius: 5em;
            font-size: 20px;
        }
        
        .link-button:hover {
            background-image: linear-gradient(#005c97, #363795);
            transition: .5s;
            cursor: pointer;
        }
        
        #flexible-area-background {
            background-image: url(./images/shapes/Frame\ 59.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #product {
            color: black;
        }
        
        #product-header {
            color: gray;
        }
        
        #flexible-area-background img {
            width: 100%;
        }
        
        .vendor {
            text-align: center;
        }
        
        .vendor-content {
            text-align: center;
            width: 500px;
            display: inline-block;
        }
        
        .about-food-quality {
            width: 300px;
            margin: 40px;
            padding: 30px;
            box-shadow: 1px 1px 7px gray;
            border-radius: 1em;
            display: inline-block;
        }
        
        .about-food-quality p {
            text-align: justify;
        }
        
        .food-image img {
            width: 300px;
            height: 200px;
            border-radius: 20px;
        }
        
        .food-area {
            text-align: center;
            width: 100%;
            font-size: 20px;
        }
        
        .food-area h2 {
            text-align: left;
        }
        
        .about-popularity {
            display: inline-block;
            width: 30%;
            padding: 20px;
        }
        
        .popularity-area {
            border-radius: 1em;
            width: 100%;
            margin: 20px;
            box-shadow: 1px 1px 7px gray;
            padding-bottom: 50px;
        }
        
        footer {
            text-align: center;
            background-color: #111;
            color: white;
            padding: 10px 40px 40px 40px;
        }
        
        footer h2 {
            color: gray;
            margin-bottom: 30px;
        }